DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=password123
DOCKER_INFLUXDB_INIT_ORG=zour_dough
DOCKER_INFLUXDB_INIT_BUCKET=sensors
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-super-secret-token-change-me
ALERT_THRESHOLD_TEMP=30
